@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Wanna see a crazy cat picture? <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Click here</a></p>
</div>
